.window {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  background-color: white;
}

.messages {
  height: 100%;
  padding: 25px 25px 0 25px;
}

.inputBox {
  position: relative;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: calc(100% - 50px);
    height: 3px;
    background-color: #53e3a6;
  }
}

.msgInput {
  font-size: 18px;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
}

.btn {
  font-size: 18px;
  cursor: pointer;
  background-color: white;
  border: none;
  margin-left: 20px;
  padding: 0;
  color: #53e3a6;
  transition: opacity 0.2s ease-in;

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: 0.5;
  }
}

.header {
  position: relative;
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 50px);
    height: 3px;
    background-color: #53e3a6;
  }
}

.name {
  color: #53e3a6;
  font-size: 18px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
