.container {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 50px;
}

.subtitle {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
