.container {
  padding-top: 50px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
  text-align: center;
  font-size: 30px;
}

.form {
  flex-direction: column;
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;

  & label {
    color: white;
    width: 250px;
    margin: 0 auto 10px;
  }
}

.btn {
  width: 250px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  margin: 0 auto;
  min-width: 64px;
  box-sizing: border-box;
  color: #53e3a6;
  background-color: white;
  box-shadow: none;
  transition-duration: 0.25s;
  margin-top: 40px;

  &:hover {
    background-color: #f5f7f9;
  }
}

.input {
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;

  &::placeholder {
    color: white;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
  }

  & svg {
    transform: scale(5);
  }
}

.photoInput {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 250px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

input[type="file"] {
  opacity: 0;
}

.imageFilename {
  text-align: center;
}

.info {
  text-align: left;
  height: 100px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
