.title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

.container {
  margin: 100px auto 0;
  max-width: 50%;
  text-align: center;
}

.btn {
  width: 250px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  margin: 0 auto;
  min-width: 64px;
  box-sizing: border-box;
  color: #53e3a6;
  background-color: white;
  box-shadow: none;
  transition-duration: 0.25s;
  margin-top: 40px;

  &:hover {
    background-color: #f5f7f9;
  }
}

.input {
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;

  &::placeholder {
    color: white;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
  }
}

.form {
  flex-direction: column;
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;

  & label {
    color: white;
    width: 250px;
    margin: 0 auto 10px;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
