.container {
  z-index: 1;
  display: flex;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.inner {
  margin-left: auto;
}

.item {
  cursor: pointer;
  text-transform: uppercase;
  padding: 15px 25px;
  display: inline-block;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f5f7f9;
  }

  & span,
  & a {
    color: #53e3a6;
    text-decoration: none;
  }

  &.active span,
  &.active a {
    color: rgb(220, 0, 78);
  }

  &--home {
    margin-left: 0;
    margin-right: auto;
  }
}
