.message {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(220, 240, 226);
  border-color: rgb(166, 217, 183);
  overflow: hidden;
  border-radius: 5px;
  font-size: 13px;
  padding: 16px;
  color: rgb(60, 65, 70);
}

.error {
  background-color: rgb(253, 243, 244);
  border-color: rgb(244, 180, 187);
}
